<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<a data-th-href="@{/users/create}">+ Создать пользователя</a>
<a data-th-href="@{/users/list}">+ Получение списка пользователей</a>
<form method="get" data-th-action="@{/users/userbyemail}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Пользователи</th>
    </tr>
    </thead>
</table>
</body>
</html>